@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
:root {
  --electric: #0079ff;
  --gray: #697c9a;
  --darkSky: #4b6a9b;
  --darkBlue: #2b3442;
  --lightBg: #f6f8ff;
  --light: #fefefe;
  --white: #ffffff;
  --dark: #141d2f;
  --semiDark: #1e2a47;
  --error: #f74646;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--dark);
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Space Mono", monospace;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
